<div class="container-fluid">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/constraints" routerLinkActive="active" ariaCurrentWhenActive="page">Constraints</a>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>